Pandas

In [2]:
import pandas as pd

In [3]:
print(pd.__version__)

2.0.3

In [4]:
a=pd.read_csv("sales.csv")
print(a.columns)
print(a.isnull)

Index(['Transaction_date', 'Product', 'Price', 'Payment_Type', 'Name', 'City',
       'State', 'Country', 'Account_Created', 'Last_Login', 'Latitude',
       'Longitude'],
      dtype='object')
<bound method DataFrame.isnull of     Transaction_date   Product Price Payment_Type               Name  \
0      1/2/2009 6:17  Product1  1200   Mastercard           carolina
1      1/2/2009 4:53  Product1  1200         Visa             Betina
2     1/2/2009 13:08  Product1  1200   Mastercard  Federica e Andrea
3     1/3/2009 14:44  Product1  1200         Visa              Gouya
4     1/4/2009 12:56  Product2  3600         Visa            Gerd W
..               ...       ...   ...          ...                ...
993  1/22/2009 14:25  Product1  1200         Visa         Hans-Joerg
994   1/28/2009 5:36  Product2  3600         Visa         Christiane
995    1/1/2009 4:24  Product3  7500         Amex             Pamela
996   1/8/2009 11:55  Product1  1200       Diners              julie
997  1/12/2009 21:30  Product1  1200         Visa             Julia

                             City             State         Country  \
0                        Basildon           England  United Kingdom
1    Parkville                                   MO   United States
2    Astoria                                     OR   United States
3                          Echuca          Victoria       Australia
4    Cahaba Heights                              AL   United States
..                            ...               ...             ...
993                       Belfast  Northern Ireland  United Kingdom
994                   Black River       Black River       Mauritius
995  Skaneateles                                 NY   United States
996                     Haverhill           England  United Kingdom
997  Madison                                     WI   United States

      Account_Created      Last_Login   Latitude   Longitude
0       1/2/2009 6:00   1/2/2009 6:08  51.500000   -1.116667
1       1/2/2009 4:42   1/2/2009 7:49  39.195000  -94.681940
2      1/1/2009 16:21  1/3/2009 12:32  46.188060 -123.830000
3     9/25/2005 21:13  1/3/2009 14:22 -36.133333  144.750000
4    11/15/2008 15:47  1/4/2009 12:45  33.520560  -86.802500
..                ...             ...        ...         ...
993  11/10/2008 12:15   3/1/2009 3:37  54.583333   -5.933333
994     1/9/2009 8:10   3/1/2009 4:40 -20.360278   57.366111
995  12/28/2008 17:28   3/1/2009 7:21  42.946940  -76.429440
996  11/29/2006 13:31   3/1/2009 7:28  52.083333    0.433333
997  11/17/2008 22:24  3/1/2009 10:14  43.073060  -89.401110

[998 rows x 12 columns]>