## Combining and merging data: concat and merge methods

In [ ]:
# Import pandas
import pandas as pd

In [ ]:
data1 = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
data2 = {'Name': ['Charlie', 'David'], 'Age': [22, 28]}

In [ ]:
# Create dataframes from data1 and data2

In [ ]:
# Print df1

In [ ]:
# Print df2

In [ ]:
# Concatenate 2 dataframes

In [ ]:
# Concatenate data horizontally

In [ ]:
data1 = {'ID': [1, 2], 'Name': ['Alice', 'Bob']}
data2 = {'ID': [2, 3], 'Age': [30, 22]}

In [ ]:
# Create dataframes from data1 and data2

In [ ]:
# Print df1

In [ ]:
# Print df2

In [ ]:
# Merge dataframes