## Filtering and sorting data: boolean indexing and sorting methods

In [2]:
# Import pandas
import pandas as pd

# Read the data from "student_data.xlsx"

In [3]:
df=pd.read_excel("student_data.xlsx")

In [4]:
# Print the result
print(df)

   StudentID        Name  Age  Gender  Score
0      ST001   Student 1   20  Female     55
1      ST002   Student 2   18    Male     56
2      ST003   Student 3   23    Male     99
3      ST004   Student 4   22    Male     57
4      ST005   Student 5   23  Female     98
5      ST006   Student 6   25    Male     67
6      ST007   Student 7   22  Female     73
7      ST008   Student 8   25  Female     74
8      ST009   Student 9   20  Female     84
9      ST010  Student 10   23    Male     77
10     ST011  Student 11   19    Male     99
11     ST012  Student 12   19    Male     78
12     ST013  Student 13   20  Female     75
13     ST014  Student 14   25  Female     84
14     ST015  Student 15   18  Female     99
15     ST016  Student 16   25  Female     67
16     ST017  Student 17   23    Male     88
17     ST018  Student 18   21    Male     62
18     ST019  Student 19   18    Male    100
19     ST020  Student 20   21    Male     53

In [5]:
# Print the rows where Age is greater than 20
mask = df.Age >=20
Filtered_Data=df[mask]
print(Filtered_Data)

   StudentID        Name  Age  Gender  Score
0      ST001   Student 1   20  Female     55
2      ST003   Student 3   23    Male     99
3      ST004   Student 4   22    Male     57
4      ST005   Student 5   23  Female     98
5      ST006   Student 6   25    Male     67
6      ST007   Student 7   22  Female     73
7      ST008   Student 8   25  Female     74
8      ST009   Student 9   20  Female     84
9      ST010  Student 10   23    Male     77
12     ST013  Student 13   20  Female     75
13     ST014  Student 14   25  Female     84
15     ST016  Student 16   25  Female     67
16     ST017  Student 17   23    Male     88
17     ST018  Student 18   21    Male     62
19     ST020  Student 20   21    Male     53

In [8]:
# Select rows where Gender is 'Female' and Age is less than 25
mask = (df.Gender=='Female')&(df.Age<25)
Filtered_Data=df[mask]
print(Filtered_Data)

   StudentID        Name  Age  Gender  Score
0      ST001   Student 1   20  Female     55
4      ST005   Student 5   23  Female     98
6      ST007   Student 7   22  Female     73
8      ST009   Student 9   20  Female     84
12     ST013  Student 13   20  Female     75
14     ST015  Student 15   18  Female     99

In [11]:
# Sort the DataFrame by Age in ascending order
print(df.sort_values(by=['Age']))

   StudentID        Name  Age  Gender  Score
1      ST002   Student 2   18    Male     56
14     ST015  Student 15   18  Female     99
18     ST019  Student 19   18    Male    100
11     ST012  Student 12   19    Male     78
10     ST011  Student 11   19    Male     99
0      ST001   Student 1   20  Female     55
12     ST013  Student 13   20  Female     75
8      ST009   Student 9   20  Female     84
17     ST018  Student 18   21    Male     62
19     ST020  Student 20   21    Male     53
6      ST007   Student 7   22  Female     73
3      ST004   Student 4   22    Male     57
4      ST005   Student 5   23  Female     98
16     ST017  Student 17   23    Male     88
2      ST003   Student 3   23    Male     99
9      ST010  Student 10   23    Male     77
5      ST006   Student 6   25    Male     67
13     ST014  Student 14   25  Female     84
15     ST016  Student 16   25  Female     67
7      ST008   Student 8   25  Female     74

In [12]:
# Sort the DataFrame by Age in descending order
print(df.sort_values(by=['Age'],ascending=False))

   StudentID        Name  Age  Gender  Score
13     ST014  Student 14   25  Female     84
5      ST006   Student 6   25    Male     67
7      ST008   Student 8   25  Female     74
15     ST016  Student 16   25  Female     67
2      ST003   Student 3   23    Male     99
4      ST005   Student 5   23  Female     98
9      ST010  Student 10   23    Male     77
16     ST017  Student 17   23    Male     88
3      ST004   Student 4   22    Male     57
6      ST007   Student 7   22  Female     73
19     ST020  Student 20   21    Male     53
17     ST018  Student 18   21    Male     62
0      ST001   Student 1   20  Female     55
12     ST013  Student 13   20  Female     75
8      ST009   Student 9   20  Female     84
11     ST012  Student 12   19    Male     78
10     ST011  Student 11   19    Male     99
14     ST015  Student 15   18  Female     99
1      ST002   Student 2   18    Male     56
18     ST019  Student 19   18    Male    100

In [14]:
# Sort the DataFrame by index in ascending order
print(df.sort_index())

   StudentID        Name  Age  Gender  Score
0      ST001   Student 1   20  Female     55
1      ST002   Student 2   18    Male     56
2      ST003   Student 3   23    Male     99
3      ST004   Student 4   22    Male     57
4      ST005   Student 5   23  Female     98
5      ST006   Student 6   25    Male     67
6      ST007   Student 7   22  Female     73
7      ST008   Student 8   25  Female     74
8      ST009   Student 9   20  Female     84
9      ST010  Student 10   23    Male     77
10     ST011  Student 11   19    Male     99
11     ST012  Student 12   19    Male     78
12     ST013  Student 13   20  Female     75
13     ST014  Student 14   25  Female     84
14     ST015  Student 15   18  Female     99
15     ST016  Student 16   25  Female     67
16     ST017  Student 17   23    Male     88
17     ST018  Student 18   21    Male     62
18     ST019  Student 19   18    Male    100
19     ST020  Student 20   21    Male     53

In [15]:
# Sort the DataFrame by index in descending order
print(df.sort_index(ascending=False))

   StudentID        Name  Age  Gender  Score
19     ST020  Student 20   21    Male     53
18     ST019  Student 19   18    Male    100
17     ST018  Student 18   21    Male     62
16     ST017  Student 17   23    Male     88
15     ST016  Student 16   25  Female     67
14     ST015  Student 15   18  Female     99
13     ST014  Student 14   25  Female     84
12     ST013  Student 13   20  Female     75
11     ST012  Student 12   19    Male     78
10     ST011  Student 11   19    Male     99
9      ST010  Student 10   23    Male     77
8      ST009   Student 9   20  Female     84
7      ST008   Student 8   25  Female     74
6      ST007   Student 7   22  Female     73
5      ST006   Student 6   25    Male     67
4      ST005   Student 5   23  Female     98
3      ST004   Student 4   22    Male     57
2      ST003   Student 3   23    Male     99
1      ST002   Student 2   18    Male     56
0      ST001   Student 1   20  Female     55