## Combining and merging data: concat and merge methods

In [1]:
# Import pandas
import pandas as pd

In [2]:
data1 = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
data2 = {'Name': ['Charlie', 'David'], 'Age': [22, 28]}

In [4]:
# Create dataframes from data1 and data2
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)

In [5]:
# Print df1
print(df1)

    Name  Age
0  Alice   25
1    Bob   30

In [6]:
# Print df2
print(df2)

      Name  Age
0  Charlie   22
1    David   28

In [9]:
# Concatenate 2 dataframes
df3=pd.concat([df1,df2])
print(df3)

      Name  Age
0    Alice   25
1      Bob   30
0  Charlie   22
1    David   28

In [11]:
# Concatenate data horizontally
df3=pd.concat([df1,df2],axis=1)
print(df3)

    Name  Age     Name  Age
0  Alice   25  Charlie   22
1    Bob   30    David   28

In [27]:
data1 = {'ID': [1, 2], 'Name': ['Alice', 'Bob']}
data2 = {'ID': [2, 3], 'Age': [30, 22]}

In [28]:
# Create dataframes from data1 and data2
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)

In [29]:
# Print df1
print(df1)

   ID   Name
0   1  Alice
1   2    Bob

In [30]:
# Print df2
print(df2)

   ID  Age
0   2   30
1   3   22

In [33]:
# Merge dataframes
df3=(pd.merge(df1,df2,on="ID",how="outer"))
print(df3)

   ID   Name   Age
0   1  Alice   NaN
1   2    Bob  30.0
2   3    NaN  22.0