## Reshaping data: pivot, melt, stack, and unstack methods

In [2]:
# import pandas
import pandas as pd

In [3]:
data = {'Date': ['2023-08-01', '2023-08-01', '2023-08-02', '2023-08-02'],
        'Item': ['Apple', 'Banana', 'Apple', 'Banana'],
        'Quantity': [5, 3, 4, 2],
        'Revenue': [15, 6, 12, 5]}

In [4]:
# Convert to DataFrame
df=pd.DataFrame(data)
df

         Date    Item  Quantity  Revenue
0  2023-08-01   Apple         5       15
1  2023-08-01  Banana         3        6
2  2023-08-02   Apple         4       12
3  2023-08-02  Banana         2        5

In [11]:
# pivot 
print(df.pivot(index=['Date'],columns=['Item'],values=['Quantity']))

           Quantity
Item          Apple Banana
Date
2023-08-01        5      3
2023-08-02        4      2

In [14]:
# Melt
melted_Data= pd.melt(df,id_vars=['Date','Item'],value_vars=['Quantity','Revenue'],var_name="Metric",value_name="value")
print(melted_Data)

         Date    Item    Metric  value
0  2023-08-01   Apple  Quantity      5
1  2023-08-01  Banana  Quantity      3
2  2023-08-02   Apple  Quantity      4
3  2023-08-02  Banana  Quantity      2
4  2023-08-01   Apple   Revenue     15
5  2023-08-01  Banana   Revenue      6
6  2023-08-02   Apple   Revenue     12
7  2023-08-02  Banana   Revenue      5

In [19]:
# Stack
stack_data=df.stack()
print(stack_data)

0  Date        2023-08-01
   Item             Apple
   Quantity             5
   Revenue             15
1  Date        2023-08-01
   Item            Banana
   Quantity             3
   Revenue              6
2  Date        2023-08-02
   Item             Apple
   Quantity             4
   Revenue             12
3  Date        2023-08-02
   Item            Banana
   Quantity             2
   Revenue              5
dtype: object

In [20]:
# Unstack
unstack_data=stack_data.unstack()
print(unstack_data)

         Date    Item Quantity Revenue
0  2023-08-01   Apple        5      15
1  2023-08-01  Banana        3       6
2  2023-08-02   Apple        4      12
3  2023-08-02  Banana        2       5